<nav class="navbar is-dark"
    role="navigation"
    aria-label="main navigation">
    <div class="navbar-brand m-2">
        <a class="navbar-item"
            href="https://www.raferandkristen.com/">
            <img src="/assets/svg/cinema.svg"
                width="auto"
                height="auto">
        </a>

        <a role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

</nav>