<nav class="navbar is-dark"
    role="navigation"
    aria-label="main navigation">
    <div class="navbar-brand ml-2">
        <a class="navbar-item"
            href="https://www.raferandkristen.com/">
            <img src="/assets/svg/cinema.svg"
                width="52px"
                height="52px">
        </a>

        <a role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-end">
        <a class="navbar-item mr-2"
            (click)="toggleDarkMode()">
            {{ darkMode ? '☀️': ' 🌃' }}
        </a>
    </div>
</nav>