<nav class="navbar is-dark"
    role="navigation"
    aria-label="main navigation">
    <div class="navbar-brand ml-2">
        <a class="navbar-item"
            href="https://www.raferandkristen.com/">
            <img src="/assets/svg/cinema.svg"
                width="52px"
                alt="Rafer & Kristen Movie Therapy"
                aria-label="Click to go to podcast page"
                height="52px">
        </a>
        <a role="button"
            class="navbar-burger"
            (click)="toggleDarkMode()">
            {{ darkMode ? '☀️': ' 🌃' }}
        </a>
    </div>

    <div id="navbarBasicExample"
        class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item mr-2 has-text-centered"
                (click)="toggleDarkMode()">
                {{ darkMode ? '☀️': ' 🌃' }}
            </a>
        </div>
    </div>
</nav>