<div class="field">
    <div class="dropdown"
        [ngClass]="(isOpen$ | async) ? 'is-active': ''">
        <div class="dropdown-trigger">
            <button class="button"
                aria-haspopup="true"
                aria-controls="dropdown-menu"
                (click)="toggleOpen()">
                <span>Dropdown button</span>
                <span class="icon is-small">
                    <fa-icon [icon]="downIcon"></fa-icon>
                </span>
            </button>
        </div>
        <div class="dropdown-menu"
            id="dropdown-menu"
            role="menu">
            <div class="dropdown-content">
                <span *ngFor="let option of options"
                    [ngClass]="option.selected ? 'is-selected' : ''"
                    class="dropdown-item"
                    (click)="selectOption(option)">
                    <a>{{ option.value }}</a>
                </span>
            </div>
        </div>
    </div>

    <div class="tags bd-tags has-addons py-1">
        <div class="control"
            *ngFor="let selected of selectedOptions">
            <div class="tags has-addons px-1">
                <a class="tag is-link">{{ selected.value }} </a>
                <a class="tag is-delete"
                    (click)="selectOption(selected)"></a>
            </div>
        </div>
    </div>
</div>