$dropdown-background: rgba(247, 247, 247,0.8);
$dropdown-background-selected-hover: rgba(150, 141, 141, 0.8);
.dropdown-content {
    overflow-y: scroll;

}

.bd {
    &-dropdown{
        display: flex;
        justify-content: space-between;
        &--selected{
            .icon {
                background-color: transparent;
            }
        }
        &:hover{
            background-color: $dropdown-background;
            cursor: pointer;
            .icon {
                background-color:  $dropdown-background
            }
        }
    }
}
.bd-tags {
    height: 3rem;
    &--shown{
        @media screen and (max-width: 768px) {
            visibility: collapse;
        }
    }
}