$dropdown-background: rgba(247, 247, 247,0.8);
$dropdown-background-selected-hover: rgba(150, 141, 141, 0.8);
.dropdown-content {
    overflow-y: scroll;

}
.button {
    border-color: inherit;
}
.dropdown-item:hover {
    background-color:$dropdown-background;
    &.is-selected > *{
        color: blanchedalmond;
    }
    &.is-selected:hover{
        background-color: $dropdown-background-selected-hover;
        > *{
            color: white;
        }
    }
}
.is-selected {
    opacity: 0.8;
    background-color: $dropdown-background
}

.bd-tags {
    height: 3rem;
    &--shown{
        @media screen and (max-width: 768px) {
            visibility: collapse;
        }
    }
}