:host{
    font-size: 1rem;
}
.bm{
  &--card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
    .card-footer {
      margin-top: auto;
      max-height: 6rem;
    }
  }
}

.card .card-image,
.card .card-image .image img {
  width: 200px;
}

.card-image{
  padding-top: 1rem;
  margin: auto;
}
