:host{
    font-size: 1rem;
}
.bm--card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.bm--card-equal-height .card-footer {
  margin-top: auto;
  height: 10vh;
}
.card .card-image,
.card .card-image .image img {
  width: 200px;
}

.card-image{
  padding-top: 1rem;
  margin: auto;
}
