@charset "utf-8";
@import "./variables";

.button {
  &.is-link.is-outlined {
    color: $color-text-light;
  }
}

.title {
  color: $color-text-light;
}
.subtitle {
  color: $color-text-med;
}
//
.card {
  background-color: $color-bg-dark;
  color: $body-color;
}
.navbar-menu.is-active {
  background-color: $color-bg-med !important;
  .navbar-item:hover {
    background-color: $color-text-med-light;
  }
}
.menu-list a {
  border-radius: 2px;
  color: $color-text-light;
  display: block;
  padding: 0.5em 0.75em;
}
.menu-label {
  color: $color-text-med;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.dropdown * {
  background-color: $color-bg-med;
  color: $color-text-light;
}
$dropdown-background: rgba(247, 247, 247, 0.3);
.dropdown {
  .dropdown-item:hover {
    color: $color-text-light;
    background-color: $dropdown-background;
  }

  .is-selected {
    background-color: $dropdown-background;
    a {
      color: $color-text-light;
    }
  }
  .dropdown-item {
    a {
      background-color: transparent;
    }
  }
}
.bd-aside {
    background-color: $color-bg-med;
}
