@use "~bulma/sass/utilities/mixins.sass" as mixins;
@import "../../styles/variables";
:host{
    font-size: 1rem;
}
.no-scroll-y > * {
    overflow-y: hidden;
}
.filter-menu-btn{
    visibility: hidden;
    @media screen and (max-width: 768px) {
        visibility: visible;
    }
}

.bd-docs {
  border-top: none;
  overflow: hidden;
}
.bd-showing-overlay .bd-docs-overlay {
  opacity: 0.8;
  pointer-events: auto;
}
$bd-aside-width: 15rem;
.bd{
    &-menu {
        margin-right: 1rem;
        padding-left: 0;
        @media screen and (max-width: 768px) {
            margin: auto;
        }
    }
    &-tags-container {
        max-width: 11.25rem;
    }
    &-buttons {
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
    }
}
// https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll
.scroll-viewport {
    border-radius: 0.25em;
    height: calc(90vh);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */

    @include mixins.mobile{
        height: calc(90vh);
    }
}
.scroll-viewport::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}


