<section class="section pt-0 mt-0 mb-0">
    <div class="container">
        <ng-container *ngIf="(filter$ | async) as filter">
            <div class="field is-grouped">
                <p class="control">
                    <button (click)="setFilter('movie')"
                        aria-label="Click to only display movies"
                        [ngClass]="{'button is-link': true, 'is-outlined' : filter !== 'movie' }">
                        Movies
                    </button>
                </p>
                <p class="control">
                    <button (click)="setFilter('series')"
                        aria-label="Click to only display tv-shows"
                        [ngClass]="{'button is-link': true, 'is-outlined' : filter !== 'series' }">
                        TV Shows
                    </button>
                </p>
                <p class="control">
                    <button (click)="setFilter('all')"
                        aria-label="Click to display all"
                        [ngClass]="{'button is-danger': true, 'is-outlined' : filter !== 'all' }">
                        All
                    </button>
                </p>

            </div>
            <div class="field">
                <p class="control">
                    <input type="search"
                        id="site-search"
                        class="input"
                        [ngModel]="genre"
                        (ngModelChange)="updateSearch($event)"
                        placeholder="Search for genre"
                        name="q"
                        aria-label="Search shows by gener">

                </p>
            </div>
        </ng-container>


    </div>
</section>

<div class="container is-dark">
    <section id="main">
        <ng-container *ngIf='allShows | async as movies'>
            <cdk-virtual-scroll-viewport autosize
                minBufferPx="400"
                maxBufferPx="600"
                class="scroll-viewport">
                <div *cdkVirtualFor='let row of movies'
                    class="columns is-multiline"
                    [@listAnimation]=movies.length>
                    <app-show-card class="column is-4"
                        *ngFor='let item of row'
                        [show]=item></app-show-card>
                </div>
            </cdk-virtual-scroll-viewport>


        </ng-container>
    </section>
</div>