<section class="section pt-2 mt-0 mb-0 pb-2">
    <div class="container">
        <ng-container *ngIf="(filter$ | async) as filter">
            <div class="columns is-centered is-gapless px-1">
                <div class="field is-grouped mb-2 column is-4">
                    <p class="control">
                        <button (click)="setFilter('movie')"
                            [disabled]="filter === 'movie'"
                            aria-label="Click to only display movies"
                            [ngClass]="{'button is-link': true, 'is-outlined' : filter !== 'movie' }">
                            Movies
                        </button>
                    </p>
                    <p class="control">
                        <button (click)="setFilter('series')"
                            [disabled]="filter === 'series'"
                            aria-label="Click to only display tv-shows"
                            [ngClass]="{'button is-link': true, 'is-outlined' : filter !== 'series' }">
                            TV Shows
                        </button>
                    </p>
                    <p class="control">
                        <button (click)="setFilter('all')"
                            aria-label="Click to display all"
                            [disabled]="filter === 'all'"
                            [ngClass]="{'button is-primary': true, 'is-outlined' : filter !== 'all' }">
                            All
                        </button>
                    </p>

                </div>
                <div class="field column">
                    <p class="control">
                        <input type="search"
                            id="site-search"
                            class="input"
                            [ngModel]="genre"
                            (ngModelChange)="updateSearch($event)"
                            placeholder="Filter by genre"
                            name="q"
                            aria-label="Search shows by gener">

                    </p>
                </div>
            </div>
        </ng-container>


    </div>
</section>


<section id="main"
    class="section p-0">
    <div class="container">
        <ng-container *ngIf='allShows | async as data'>
            <cdk-virtual-scroll-viewport autosize
                [maxBufferPx]="800"
                [minBufferPx]="800"
                class="scroll-viewport pb-2">
                <div *cdkVirtualFor='let row of data; let idx = index;  templateCacheSize:0'
                    class="columns is-multiline px-1">
                    <app-show-card class="column is-4"
                        *ngFor='let item of row'
                        [show]=item></app-show-card>
                </div>
            </cdk-virtual-scroll-viewport>
        </ng-container>
    </div>
</section>