@use "~bulma/sass/utilities/mixins.sass" as mixins;

:host{
    font-size: 1rem;
}
.no-scroll-y > * {
    overflow-y: hidden;
}
.filter-menu-btn{
    visibility: hidden;
    @media screen and (max-width: 768px) {
        visibility: visible;
    }
}

.bd-docs {
  border-top: none;
  overflow: hidden;
}
.bd-showing-overlay .bd-docs-overlay {
  opacity: 0.8;
  pointer-events: auto;
}

.bd{
    &-container {
        border-radius: 0.25em;
        height: calc(85vh);
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        &::-webkit-scrollbar{
            width: 0;
            height: 0;
        }

    }
    &-overlay{
        z-index: 1000;
        width: 0px;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        &--active{
            visibility: visible;
            width: 100%;
            height: 100vh;
            background: rgba(0,0,0,0.5);
        }
    }
    &-aside{
        height: 85vh;
        @media screen and (max-width: 768px) {
            padding-left: 1rem;
            padding-right: 1rem;
            height: 100%; /* 100% Full-height */
            width: 11.25rem; /* 0 width - change this with JavaScript */
            position: absolute; /* Stay in place */
            z-index: 10001; /* Stay on top */
            top: 0; /* Stay at the top */
            left: -11.25rem;
            background-color: #111; /* Black*/
            overflow-x: hidden; /* Disable horizontal scroll */
            padding-top: 60px; /* Place content 60px from the top */
            transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
            &--active {
                transform: translateX(100%);
            }
        }
    }
}
// https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll
.scroll-viewport {
    border-radius: 0.25em;
    height: calc(85vh);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */

    @include mixins.mobile{
        height: calc(70vh);
    }
}
.scroll-viewport::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}


